*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card{
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

.date{
    position: absolute;
    top: 20px;
    left: 0px;
}

.date p{
    background-color: turquoise;
    color:white;
    width: 40px;
    height: 20px;
    margin-left: 20px;
}

.date .p3{
    background-color: blue;
    color: white;
    width: 40px;
    height: 20px;
    margin-left: 20px;
}

